* {
    outline: 1px dotted red; 
}

h1 { 
    text-align: center;
}

body { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container { 
    display: flex;
    flex-direction: column;
    margin: 40px;
    width:  500px;
    height: 600px; 
    border: 2px black solid;

}

#button-container { 
    display: flex;
}

#screen { 
    width: 500px;
    height: 150px;
}

