* { 
    outline: 1px dotted red; 
}

h1 { 
    text-align: center;
}

body { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container { 
    display: flex;
    flex-direction: column;
    margin: 40px;
    width:  400px;
    height: 600px; 
    border: 2px black solid;
    padding: 24px;
}

.num-btn, .op-btn  {
    font-size: 20px;
    gap: 20px;
    padding: 30px;
    flex: 1 1; 
    margin: 12px;
    border-radius: 16%;

}
.btn-row {
    display: flex;
    justify-content: space-between;
}

#screen { 
    width: 400px;
    height: 150px;
    font-size: 50px;
    text-align: right;
    border-bottom: 2px black solid;
}

.op-btn { 
    color: black;
    background-color: rgba(199, 97, 13, 0.685);
}

.num-btn { 
    background-color: rgba(100, 98, 98, 0.185) 
}